In [1]:
import json
from pprint import pprint
import pandas as pd
from glob import glob

In [2]:
json_list = glob('*.json')

room_data = {}
for j in json_list:
    with open(j) as f:
        room_data[j.split('.')[0][:-1]] = json.load(f)
# pprint(room_data)

room_df = pd.DataFrame()
for k, v in room_data.items():
    df = pd.DataFrame(v)
    df["name"] = k
    # Drop id column
    df.drop("id", axis=1, inplace=True)
    # If "Lighting" is not list then make it list
    df["Lighting"] = df["Lighting"].apply(lambda x: [x] if type(x) != list else x)
    # Combile all dataframes
    room_df = pd.concat([room_df, df], axis=0, ignore_index=True)
# Add zeros to id
room_df["id"] = room_df.index.astype(str).str.zfill(3)
room_df.to_json("all_properties.json", orient="records")

In [64]:
json_list = glob('../personas/persona*.json')

persona_data = []
for j in json_list:
    with open(j) as f:
        persona_data.append(json.load(f))
print(persona_data)
persona_df = pd.DataFrame(persona_data)
# Add id to each persona
persona_df["id"] = persona_df.index.astype(str).str.zfill(3)
persona_df.to_json("../personas/all_personas.json", orient="records")
# for k, v in persona_data.items():
#     df = pd.DataFrame(v)
#     # Combile all dataframes
#     persona_df = pd.concat([persona_df, df], axis=0, ignore_index=True)
# persona_df

[{'age': 36, 'gender': 'Female', 'marital_status': 'Married with three young children', 'education': "Master's degree in education", 'income': '$120,000 per year', 'location': 'Suburban area'}, {'age': 45, 'gender': 'Female', 'marital_status': 'Married with adult children', 'education': "Bachelor's degree in business", 'income': '$2 million+ per year', 'location': 'Based in China, looking to buy a second home in the US'}, {'age': 45, 'gender': 'Male', 'marital_status': 'Divorced with no children', 'education': "Associate's degree", 'income': '$60,000 per year', 'location': 'Urban area'}, {'age': 28, 'gender': 'Male', 'marital_status': 'Single', 'education': "Bachelor's degree in computer science", 'income': '$70,000 per year', 'location': 'Urban area'}, {'age': 32, 'gender': 'Female', 'marital_status': 'Married with two children', 'education': "Bachelor's degree in business administration", 'income': '$80,000 per year', 'location': 'Suburban area'}]

In [7]:
with open('bedrooms.json') as f:
    data = json.load(f)
print(len(data))
# pprint(data)

10

In [8]:
with open('livingrooms.json') as f:
    data = json.load(f)
print(len(data))

10

In [9]:
with open('kitchens.json') as f:
    data = json.load(f)
print(len(data))

9

In [10]:
with open('bathrooms.json') as f:
    data = json.load(f)
print(len(data))

10

In [12]:
with open('diningrooms.json') as f:
    data = json.load(f)
print(len(data))

10

In [13]:
with open('diningrooms.json') as f:
    data = json.load(f)
print(len(data))

10